body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
a {
    max-width: 60%; /* Biztosítja, hogy a kép sosem lógjon ki a képernyő szélességéből */
    height: auto; /* Megőrzi a kép arányait */
}